<h1 class="title">Create your character</h1>

<form action="/characters/create" method="post" class="form">

<div>
<label for="nameInput">Name</label>
</div>

<div>
<input type="text" name="name" id="nameInput" />
</div>
<br>

<div>
<label for="occupationInput">Occupation</label>
</div>

<div>
<input type="text" name="occupation" id="occupationInput" />
</div>
<br>

<div>
<label for="weaponInput">Weapon</label>
</div>
<div>
<input type="text" name="weapon" id="weaponInput"/>
</div>
<br>
<button type="submit" class="button">Create Character</button>

</form>